<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gcodedevelopers.kenyanrides">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_SIP"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />



    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon">

        <activity android:name="com.gcodedevelopers.kenyanrides.PesapalSuccessActivity"></activity>
        <activity android:name="com.gcodedevelopers.kenyanrides.PesaPalPayment" />
        <activity android:name="com.gcodedevelopers.kenyanrides.SuccessActivity" />
        <activity android:name="com.gcodedevelopers.kenyanrides.PaymentActivity" />
        <activity android:name="com.gcodedevelopers.kenyanrides.FullscreenViewpagerActivity" />
        <activity android:name="com.gcodedevelopers.kenyanrides.ClientImageUploadActivity" />
        <activity android:name="com.gcodedevelopers.kenyanrides.EditVehicleActivity" />
        <activity android:name="com.gcodedevelopers.kenyanrides.BookingsActivity" />
        <activity android:name="com.gcodedevelopers.kenyanrides.BookNowActivity" />
        <activity android:name="com.gcodedevelopers.kenyanrides.CarDetailsActivity">
            <intent-filter>

                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https"
                    android:host="www.kenyanrides.com"
                    android:pathPrefix="/app.html"/>


            </intent-filter>

        </activity>
        <activity android:name="com.gcodedevelopers.kenyanrides.ForgotPasswordActivity" />
        <activity android:name="com.gcodedevelopers.kenyanrides.LoginActivity" />
        <activity android:name="com.gcodedevelopers.kenyanrides.ListVehiclesActivity" />
        <activity android:name="com.gcodedevelopers.kenyanrides.SignupActivity" />
        <activity
            android:name="com.gcodedevelopers.kenyanrides.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />


                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>