<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0"
    package="com.example.kenyanrides">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">

        <activity android:name=".BookNowActivity"></activity>

        <activity android:name=".CarDetailsActivity"></activity>

        <activity android:name=".ForgotPasswordActivity"></activity>

        <activity android:name=".LoginActivity"></activity>

        <activity android:name=".ProfileSettings"></activity>

        <activity android:name=".SignupActivity"></activity>


        <activity
            android:name="com.example.kenyanrides.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>
</manifest>